<!-- Login login.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>

  <header>
      <% include ../partials/header %>
  </header>

  <style>
  legend {
    text-align: center;
  }
  </style>

  <main class = "container">
  <div class="row">
    <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4">

    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="well">
        <form action="" method="POST" role="form">
          <legend>Join Us!</legend>
        
          <div class="form-group">
            <label for="name">Your Name</label>
            <input type="name" class="form-control" id="name" placeholder="Name">
            <label for="email">Your Email</label>
            <input type="email" class="form-control" id="email" placeholder="Email Address">
            <label for="password">Create a Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Create Password">
            <label for="password2">Confirm Password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm Password">
          </div>
          
          <div style="text-align: center">
            <button type="submit" class="btn btn-success btn-fill">Sign Up</button>
            <a href="/auth/login"><button type="button" class="btn btn-primary btn-fill">Back to Login</button></a>
          </div>
        </form>
      </div>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-4 col-lg-4">

    </div>
      
    </div>
  </div>
  </main>

  <% include ../partials/footer %>
    
</body>
</html>