<!-- HOME index.ejx -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>

  <header>
      <% include partials/header %>
  </header>

  <style>
  h3, h5 {
    text-align: center;
  }
  </style>

  <main class = "container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="well">
        <img src="/theme/assets/img/fans.jpg" class="img-responsive" alt="Responsive image">
        <img src="/theme/assets/img/bar.jpg" class="img-responsive" alt="Responsive image">
        </div>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
      
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="well">
        <h3>Why?</h3>
        <p>The purpose of this site is to bring together soccer enthusiasts of all experience levels. Whether you are a novice or a lifelong supporter, it is time to come together to share The Beautiful Game with all those around you. Have a friend that is interested in the sport, but has no idea where to begin? Are you a diehard, but have no friends to watch with? Come together, make new friends, and support your colors!</p>
        <p>This is inspired by <a href="http://www.thefreebeermovement.com/pages/about/">The Free Beer Movement.</a> Are we guaranteeing free beer for anyone willing to watch a game? We'll leave that up to the community. But, what we do guarantee is a good time no matter what the outcome. Soccer is a passion that can bring you to your lowest lows and your highest highs. It's a roller coaster.</p>
        <h5>Join Us. Scarves Up!</h5>
        <img src="/theme/assets/img/scarf.jpg" class="img-responsive" alt="Responsive image">
      </div>
      
    </div>
  </div>
  </main>

  <% include partials/footer %>
    
</body>
</html>