<!-- HOME index.ejx -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body>

  <header>
      <% include partials/header %>
  </header>

  <style>
  h3, h5 {
    text-align: center;
  }
  </style>

  <main class = "container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="well">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=zuWQI6zbuCiU.k2XPDp94kERY" width="420" height="480"></iframe>
      </div>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-2 col-lg-2">
      
    </div>
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
      <div class="well">
        <h3>Pubs</h3>
        <p>Find a pub here!</p>
        <h5><a href="/meet">Meet Up!</a></h5>
      </div>
      
    </div>
  </div>
  </main>

  <% include partials/footer %>
    
</body>
</html>